DebugLib/
DebugExe/
DebugExt/

ReleaseLib/
ReleaseExe/
ReleaseExt/

_/
_TEST/
lib/abc*
lib/m114*
lib/bip*
docs/
.cache/

src/ext*
src/xxx/
src/aig/au/
src/aig/ssm/
src/aig/ddb/

*~
*.orig

*.[od]

*.ncb
*.opt
*.plg

*.zip
*.DS_Store

abcspaceext.dsw
abcext.dsp

abcexe.vcproj*
abclib.vcproj*
/abcspace.sln
abcspace.suo

*.pyc

src/python/build
src/python/bdist
src/python/pyabc.py
src/python/pyabc_wrap.*

.idea/
build/

*.rej
*.orig

tags

/libabc.a
/abc

/arch_flags

/cmake
/cscope
abc.history

# Additional non-code, local, and documentation artifacts
doc/
*.bak
*.log
*.tmp
*.temp
*.pid
*.seed
*.prof
*.gcda
*.gcno
*.gcov

*.tar
*.tgz
*.tar.gz
*.tar.bz2
*.tar.xz
*.7z
*.rar
*.gz
*.bz2
*.xz


*.png
*.jpg
*.jpeg
*.gif
*.webp
*.bmp
*.tif
*.tiff
*.ico
*.svg
*.mp3
*.wav
*.flac
*.mp4
*.mov
*.avi
*.mkv
*.webm
*.psd
*.ai
*.sketch
*.fig
